POSTGRES_USER=suana
POSTGRES_PASSWORD=zamijeni_me
POSTGRES_DB=widgetdb

ConnectionStrings__Widgets=Host=localhost;Port=5433;Database=widgetdb;Username=suana;Password=zamijeni_me
Jwt__Key="32-CHARS"
Jwt__Issuer=widget-platform
Webhook__Url=http://localhost:5133/debug/webhook